.start-links-wrapper {
    display: flex;
    flex-direction: row;
}

.start-links-wrapper a {
    text-decoration: underline;
}

.start-links-left {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
}

.start-links-right {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
    -webkit-font-smoothing: antialiased;
}

#dvd {
    width: 30rem;
    height: 15rem;
    position: absolute;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    z-index: 999999;
}

.evil {
    opacity: 0.5;
    text-decoration: line-through;
}

.page-template-page-startpage #title-bar {
    /* display: none; */
    text-align: right;
    display: none;
}

.page-template-page-startpage #page {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    /* min-height: 100vh; */
    top: 0;
    /* bottom: 0; */
    z-index: 2;
    align-items: center;
    /* margin-top: 15rem; */
    justify-content: left;
}

.page-template-page-startpage #menu {
    position: absolute;
    /* display: none; */
}

.page-template-page-startpage canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    /* display: none; */
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.page-template-page-startpage #frontpage-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 7rem;
    z-index: 100;
}

.page-template-page-startpage h1.startpage-title {
    font-size: 6rem;
    padding: 0;
    margin: 8rem 0 8rem 0;
    padding-top: 0;
    line-height: 1.5;
    width: 100%;
    text-align: left;
    /* color: yellow; */
}

.page-template-page-startpage #menu {
    opacity: 0;
    transition: none;
}
.page-template-page-startpage .menu-logo {
    display: none;
    /* text-align: right; */
}
.page-template-page-startpage #frontpage-footer {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.page-template-page-startpage.webgl-loaded #menu {
    opacity: 1;
}
.page-template-page-startpage.webgl-loaded #frontpage-footer {
    opacity: 1;
}

.main-title button {
    font-size: 2.5rem;
}

.page-template-page-startpage #menu.visited {
    opacity: 1 !important;
}

@media (max-width:  1440px) {
    body,html {
        font-size: 8px;
    }
}

@media (max-width:  1080px) {
    body,html {
        font-size: 7px;
    }
    .browser-image::before {
        width: 100%;
    }
    .browser-image img {
        max-width: 100%;
    }
}

/* ipad and below */
@media (max-width:  768px) {
    body,html {
        font-size: 9px;
    }
    .menu-padder {
        padding: 0 4.5rem;
    }
    #menu {
        padding: 4.5rem 4.5rem 9rem;
    }
    .page-template-page-startpage #frontpage-footer {
        padding: 4.5rem;
    }
    .start-links-wrapper {
        display: flex;
        flex-direction: column;
    }
    .start-links-right, .start-links-left {
        padding-left: 0;
        font-size: 2.75rem;
    }
    #menu-select a {
        font-size: 2.5rem;
    }
    .about {
        max-width: 100%;
    }
    section.about p {
        font-size: 3.3rem;
    }
}

@media (max-width:  600px) {
    body,html {
        font-size: 8px;
    }
}

@media (max-width:  460px) {
    body,html {
        font-size: 7px;
    }
}

@media (max-width:  375px) {
    body,html {
        font-size: 6px;
    }
}